.home{
    background-color: hsla(0,0%,100%,.3);
    .house{
        width: 32px;
        line-height: 41px;
        height: 32px;
        display: inline-block;
        text-align: center;
        img{
            width: 24px;
            height: 24px;
        }
    }
}