.header {
    display: flex;
    height: 32px;
    position: relative;
    background: #026aa7;
    padding: 4px;
    z-index: 10;

    .left_part {
        display: flex;
        width: 455px;
        height: 32px;
        justify-content: flex-start;
        flex-grow: 1;

        .home {
            margin-right: 4px;
            border-radius: 3px;
            border: 0;
            cursor: pointer;
        }


    }

    .trello {
        display: inline-block;
        z-index: 11;
        color: #fff;
        font-size: 18px;
        position: relative;
        top: 3px;
        opacity: .5;
    }

    .right_part {
        display: flex;
        width: 305px;
        height: 32px;
        justify-content: flex-end;
        flex-grow: 1;
    }
}