.all_boards{
    flex: 1 1 100%;
    display: inline-block;
    margin-top: 40px;
    margin-left: 40px;
    .personal_board{
        .title{
            color: #172b4d;
            .person_icon{
                img{
                    width: 21px;
                    height: 21px;
                    top: 4px;
                    position: relative;
                }
            }
            h3{
                display: inline-block;
                font-size: 16px;
                padding-left: 10px;
            }
        }
        .board_card{
            display: flex;
            list-style: none;
            padding: 0;
            flex-wrap: wrap;
            margin: 0 0 16px 0;
            li{
                cursor: pointer;
                margin: 0px 10px 20px 0;
                a{
                    border-radius: 3px;
                    display: block;
                    width: 155px;
                    height: 96px;
                    overflow: hidden;
                    span{
                    }
                    .board_title_detail{
                        height: 95px;
                        background-color: rgba(0,0,0,.15);
                        margin: 0 10px 0 0;
                        padding: 8px;
                        border-radius: 3px;
                        color:#fff;
                        &:hover{
                            opacity: .6;
                        }
                        p{
                            text-align: center;
                            top: 13px;
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}